<div class="container text-center">

  <form class="registro">
    <div class="form-list">
      <div class="form-group">
        <label for="nombreUsuario">Nombre de Usuario:</label>
        <input type="text" class="form-control" id="nombreUsuario" placeholder="Usuario" required>
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" class="form-control" id="contrasena" placeholder="Contraseña" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email" required>
      </div>

      <div class="form-group">
        <label for="tipoUsuario">Tipo de Usuario:</label>
        <select class="form-control" id="tipoUsuario" name="tipodeuser" [(ngModel)]="opcionSeleccionada">
          <option>Elige una opción</option>
          <option>Peleador</option>
          <option>Organizacion</option>
          <option>Juez</option>
        </select>
      </div>

      <!--Formulario para peleadores-->
      <div *ngIf="opcionSeleccionada === 'Peleador'">
        <div class="form-group">
          <label for="nombre"> Nombre(s):</label>
          <input type="text" class="form-control" id="nombre" placeholder="nombre(s)" required>
        </div>
        <div class="form-group">
          <label for="apellido"> Apellido(s): </label>
          <input type="text" class="form-control" id="apellido" placeholder="apellidos(s)" required>
        </div>
        <div class="form-group">
          <label for="edad">Edad:</label>
          <input type="number" class="form-control" id="edad" name="edad" placeholder="Ingrese su edad" min="0" required>
        </div>
        <div class="form-group">
          <label for="estatura">Estatura (en centímetros):</label>
          <input type="number" class="form-control" id="estatura" name="estatura" placeholder="Ingrese su estatura" min="0" required>
        </div>
        <div class="form-group">
          <label for="artematcial">¿Que arte marcial practicas?</label>
          <select class="form-control" id="artemarcial" name="artemarcial" [(ngModel)]="seleccionarte">
            <option>Elige una opción</option>
            <option>Karate</option>
            <option>Taekwondo</option>
            <option>Boxeo</option>
          </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>

      <div *ngIf="opcionSeleccionada === 'Organizacion'">
        <!-- Formulario de registro para Organizaciones -->
        <div class="form-group">
          <label for="nombreorg">Nombre de la organizacion:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre de la organizacion" required>
        </div>
        <div class="form-group">
          <label for="descripcionorg">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripcion" required>
        </div>
        <div class="form-group">
          <label for="artemarcial">Arte marcial que enseña:</label>
          <input type="text" class="form-control" id="arteenseñanza" placeholder="Arte marcial" required>
        </div>
        <div class="form-group">
          <label for="ubicacion">Ubicacion: </label>
          <input type="text" class="form-control" id="Ubicacion" placeholder="Ubicación" required>
        </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>

      <div *ngIf="opcionSeleccionada === 'Juez'">
        <!-- Formulario de registro para Jueces -->
        <div class="form-group">
          <label for="nombrejuez">Nombre(s):</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre(s)" required>
        </div>
        <div class="form-group">
          <label for="apellidojuez">Apellidos:</label>
          <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
        </div>
        <div class="form-group">
          <label for="edad">Edad:</label>
          <input type="number" class="form-control" id="edad" name="edad" placeholder="Ingrese su edad" min="0" required>
         </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </div>
  </form>
</div>
