<div class="container text-center">

  <form class="registro">
    <div class="form-list">
      <div class="form-group">
        <label for="nombreUsuario">Nombre de Usuario:</label>
        <input type="text" class="form-control" id="nombreUsuario" name="usuario" [(ngModel)]="user.Usuario1" placeholder="Usuario" required>
      </div>
      <div class="form-group">
        <label for="contrasena">Contraseña:</label>
        <input type="password" class="form-control" id="contrasena" name="contra" [(ngModel)]="user.Contrasena" placeholder="Contraseña" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </div>

      <label>Eliga un tipo de usuario para continuar con el registro :)</label>

      <div class="form-group">
        <label> </label>
        <label for="tipoUsuario">Tipo de Usuario:</label>
        <select class="form-control" id="tipoUsuario" name="tipodeuser" [(ngModel)]="opcionSeleccionada">
          <option>Elige una opción</option>
          <option>Peleador</option>
          <option>Organizacion</option>
          <option>Juez</option>
        </select>
      </div>

      <!--Formulario para peleadores-->
      <div *ngIf="opcionSeleccionada === 'Peleador'">
        <div class="form-group">
          <label for="nombre"> Nombre(s):</label>
          <input type="text" class="form-control" id="nombre" name="nombrepeleador" [(ngModel)]="peleador.nombre" placeholder="nombre(s)" required>
        </div>
        <div class="form-group">
          <label for="apellido"> Apellido(s): </label>
          <input type="text" class="form-control" id="apellido" name="apellidopeleador" [(ngModel)]="peleador.apellido" placeholder="apellidos(s)" required>
        </div>
        <div class="form-group">
          <label for="edad">Edad:</label>
          <input type="text" class="form-control" id="edad" name="edadpeleador" [(ngModel)]="peleador.edad" placeholder="Ingrese su edad" min="0" required>
        </div>
        <div class="form-group">
          <label for="estatura">Estatura (en centímetros):</label>
          <input type="number" class="form-control" id="estatura" name="estaturapeleador" [(ngModel)]="peleador.estatura" placeholder="Ingrese su estatura" min="0" required>
        </div>
        <div class="form-group">
          <label for="peso">Peso: </label>
          <input type="number" class="form-control" id="peso" name="peso" [(ngModel)]="peleador.peso" placeholder="Ingrese su peso" min="0" required>
        </div>
        <div class="form-group">
          <label for="artemarcial">¿Que arte marcial practicas?</label>
          <select class="form-control" id="artemarcial" name="artemarcial" [(ngModel)]="peleador.artemarcial">
            <option value=0>Elige una opción</option>
            <option value=1>Karate</option>
            <option value=3>Taekwondo</option>
            <option value=2>Boxeo</option>
          </select>
        </div>

        <div class="form-group">
          <div *ngIf="peleador.artemarcial == 1">
            <select class="form-control" id="cinturonkarate" name="cinturonkarate" [(ngModel)]="peleadorcinturon">
              <option>Blanco</option>
              <option>Amarillo</option>
              <option>Naranja</option>
              <option>Verde</option>
              <option>Azul</option>
              <option>Marron</option>
              <option>Negro</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div *ngIf="peleador.artemarcial == 3">
            <div>
              <select class="form-control" id="cinturonTaekwondo" name="cinturonTaekwondo" [(ngModel)]="peleadorcinturon">
                <option>blanco</option>
                <option>amarillo</option>
                <option>verde</option>
                <option>azul</option>
                <option>rojo</option>
                <option>negro</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" (click)="registerUser()"  class="btn btn-primary">Registrarse</button>
        </div>
      </div>

        <div *ngIf="opcionSeleccionada === 'Organizacion'">
          <!-- Formulario de registro para Organizaciones -->
          <div class="form-group">
            <label for="nombreorg">Nombre de la organizacion:</label>
            <input type="text" class="form-control" id="nombre" name="orgnombre" [(ngModel)]="org.nombre"  placeholder="Nombre de la organizacion" required>
          </div>
          <div class="form-group">
            <label for="descripcionorg">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" name="orgdescripcion" [(ngModel)]="org.descripcion" placeholder="Descripcion" required>
          </div>
          <div class="form-group">
            <label for="artemarcial">Arte marcial que enseña:</label>
            <input type="text" class="form-control" id="arteenseñanza" name="orgnartemarcial" [(ngModel)]="org.artemarcial" placeholder="Arte marcial" required>
          </div>
          <div class="form-group">
            <label for="ubicacion">Ubicacion: </label>
            <input type="text" class="form-control" id="Ubicacion" name="ubicacion" [(ngModel)]="org.ubicacion" placeholder="Ubicación" required>
          </div>
          <div class="form-group">
            <button type="submit" (click)="registerUser()" class="btn btn-primary">Registrarse</button>
          </div>
        </div>

        <div *ngIf="opcionSeleccionada === 'Juez'">
          <!-- Formulario de registro para Jueces -->
          <div class="form-group">
            <label for="nombrejuez">Nombre(s):</label>
            <input type="text" class="form-control" id="nombre" name="nombrejuez" [(ngModel)]="juez.nombre" placeholder="Nombre(s)" required>
          </div>
          <div class="form-group">
            <label for="apellidojuez">Apellidos:</label>
            <input type="text" class="form-control" id="apellidos" name="apellidojuez" [(ngModel)]="juez.apellido" placeholder="Apellidos" required>
          </div>
          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="text" class="form-control" id="edad" name="edadjuez" [(ngModel)]="juez.edad" placeholder="Ingrese su edad" min="0" required>
          </div>
          <div class="form-group">
            <button type="submit" (click)="registerUser()" class="btn btn-primary">Registrarse</button>
          </div>
        </div>
      </div>
  </form>
</div>
