.inputs {
  padding: 5px;
  height: 70px;
}

input {
  text-align: center;
}

h4 {
  color: white;
}

.center-container {
  display: flex;
  justify-content: center;
}

.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Alinear el texto del botón al centro */
}

.custom-button {
  background-color: white; /* Cambia el color de fondo a un color personalizado */
  color: black; /* Cambia el color del texto a blanco u otro color que desees */
}

  .custom-button:hover {
    background-color: darkblue;
  }
