<mat-toolbar class="mat-elevation-z6">

  <span><mat-icon>whatshot</mat-icon>Martial Mastery</span>

  <div class="spacer"></div>
  <a mat-button routerLink="">Inicio</a>
  <a mat-button>Rankings</a>
  <a mat-button routerLink="torneos">Torneos</a>
  <a *ngIf="!UsuariossService.isLogged()" mat-raised-button class="custom-button" routerLink="login">Iniciar Sesion</a>
  <a *ngIf="UsuariossService.isLogged()" mat-raised-button class="custom-button" (click)="onClickLogOut()">Cerrar Sesion</a>
</mat-toolbar>
