body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  margin: 150px auto 0;
  width: 90%; /* Abarca todo el ancho de la pantalla */
  max-width: 400px; /* Establece un ancho máximo para evitar que el formulario sea demasiado ancho en pantallas grandes */
  background: #000;
  padding: 15px;
  padding-right: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

  .login-container h2 {
    text-align: center;
    color: #fff;
  }

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  color: #fff;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  /*border: 1px solid #ff0000; Rojo */
  border-radius: 15px;
}

button {
  width: 40%;
  background: #fff;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

  button:disabled {
    background: #ccc; /* Gris para el botón deshabilitado */
    cursor: not-allowed;
  }

.registro-link {
  width: 40%;
  background: #ccc;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 4px;
  border-radius: 10px;
}

  .registro-link:hover {
    background: #fff;
  }

@media screen and (max-width: 768px) {
  .login-container {
    padding: 10px;
  }

  .form-group {
    margin: 6px 0;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }

  .registro-link {
    font-size: 14px;
  }
}
