<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="center-container">

  <div class="login-container">

    <h2>Iniciar Sesión</h2>

    <form #loginForm="ngForm">

      <div class="form-group" [ngClass]="{ 'has-error': credencialesincorrectas }">

        <label for="Usuario1">Usuario</label>
        <input type="text" id="Usuario1" name="Usuario1" ngModel required [(ngModel)]="Usuario1">
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': credencialesincorrectas }">
        <label for="contrasena">Contraseña</label>
        <input type="password" id="Contrasena" name="Contrasena" ngModel required [(ngModel)]="Contrasena">
        <div *ngIf="credencialesincorrectas" class="error-message">
          Usuario o contraseña incorrecta.
        </div>
      </div>

      <button (click)="Validar()" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      <button routerLink="/registro" class="registro-link">Registrarse</button>
    </form>
  </div>
</div>
